<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haruki</title>
    <link rel="stylesheet" href="../assets/haruki.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="../assets/haruki.js"></script>
</head>
<body>
    <h1>Haruki</h1>
    <form>
        <div class="input_container">
            <!-- <div class="border_input_top"></div> -->
            <input type="text" id="first_name" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <!-- <div class="border_input_bottom"></div> -->
            <label class="input_label" for="first_name">
                <span>First Name</span>
            </label>
        </div>
        <!-- <div class="input_container">
            <div class="border_input_top"></div>
            <input type="text" id="last_name" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <div class="border_input_bottom"></div>
            <label class="input_label" for="last_name">Last Name</label>
        </div>
        <div class="input_container">
            <div class="border_input_top"></div>
            <input type="text" id="email" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <div class="border_input_bottom"></div>
            <label class="input_label" for="email">Email</label>
        </div> -->
    </form>
</body>
</html>