<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juro</title>
    <link rel="stylesheet" href="../assets/juro.css">
    <script src="../assets/juro.js"></script>
</head>
<body>
    <h1>Juro</h1>
    <div class="input_container">
        <input type="text" id="first_name" onfocus="focusInput(this)" onblur="blurInput(this)">
        <label for="first_name">First Name</label>
    </div>
</body>
</html>