<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Hideo</title>
    <link rel="stylesheet" href="..\assets\hideo.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/e267708d5e.js" crossorigin="anonymous"></script>
    <script src="..\assets\hideo.js"></script> 
</head>
<body>
    <h1>Hideo</h1>
    <form>
        <div class="input_container">
            <div class="icon_container">
                <i class="fa-solid fa-user-large icon" id="icon1"></i>
            </div>
            <input type="text" id="user_name" onfocus="focusInput(this)" onblur="blurInput(this)">
        </div>

        
        <div class="input_container">
            <div class="icon_container">
                <i class="fa-solid fa-envelope icon" id="icon1"></i>
            </div>
            <input type="text" id="user_email" onfocus="focusInput(this)" onblur="blurInput(this)">
        </div>

        <div class="input_container">
            <div class="icon_container">
                <i class="fa-solid fa-lock icon" id="icon1"></i>
            </div>
            <input type="text" id="user_password" onfocus="focusInput(this)" onblur="blurInput(this)">
        </div>
    </form>
</body>
</html>