* {
  margin: 0px;
}
* body {
  background-color: #05A9E1;
  font-family: 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0 auto;
  width: 1429px;
}
* body main {
  color: white;
  letter-spacing: 0.6px;
}
* body main #admission {
  position: relative;
}
* body main #admission > div {
  background: url("../assets/images/Frame.svg") no-repeat 890px 200px, url("../assets/images/Word Bubble.png") no-repeat 232px 21px;
  height: 432px;
  margin: 0px;
}
* body main #admission > div h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
  margin-left: 365px;
  padding-top: 139px;
  width: 400px;
}
* body main #admission > div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 365px;
  margin-top: 15px;
  width: 500px;
}
* body main #admission > div button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  margin-left: 365px;
  margin-top: 21px;
  max-width: 200px;
}
* body main #timeline #timeline {
  margin-left: 584px;
  position: absolute;
  top: 344px;
}
* body main #research {
  background: url("../assets/images/Meeting.svg") no-repeat 92px 0px;
  height: 329px;
  margin: 0 auto;
  position: relative;
}
* body main #research > div {
  position: absolute;
  left: 824px;
  top: 72px;
}
* body main #research > div h2 {
  font-size: 40px;
  font-weight: 700;
  height: 54px;
  line-height: 46px;
  margin-bottom: 13px;
  width: 400px;
}
* body main #research > div ul {
  padding-left: 0px;
}
* body main #research > div ul li {
  line-height: 32.4px;
  list-style-type: none;
  position: relative;
}
* body main #research > div ul li p {
  display: inline-block;
  margin-top: 0px;
  font-size: 18px;
  line-height: 21.6px;
  padding-left: 50px;
  width: 400px;
}
* body main #research > div ul li p:before {
  content: url('../assets/images/Checkmark Icon.png');
  position: absolute;
  left: 0px;
}
* body main #application {
  background: url("../assets/images/Desk Ilustration.svg") no-repeat 710px 84px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}
* body main #application > div {
  left: 137px;
  position: absolute;
  top: 60px;
}
* body main #application > div h2 {
  font-size: 40px;
  height: 63px;
  margin-bottom: 7px;
  width: 370px;
}
* body main #application > div ul {
  padding-left: 0px;
}
* body main #application > div ul li {
  line-height: 36px;
  list-style-type: none;
  position: relative;
}
* body main #application > div ul li p {
  display: inline-block;
  font-weight: 400;
  margin-top: 0px;
  font-size: 18px;
  line-height: 21.6px;
  padding-left: 50px;
  width: 370px;
}
* body main #application > div ul li p:before {
  content: url('../assets/images/Checkmark Icon.png');
  position: absolute;
  left: 0px;
}
* body main #financing {
  background: url("../assets/images/Financing.svg") no-repeat 152px 67px;
  height: 301px;
  margin: 0 auto;
  position: relative;
}
* body main #financing > div {
  position: absolute;
  left: 827px;
  top: 18px;
}
* body main #financing > div h2 {
  font-size: 40px;
  height: 51px;
  line-height: 46px;
  margin-bottom: 63px;
  width: 320px;
}
* body main #financing > div ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
* body main #financing > div ul li {
  line-height: 36px;
  list-style-type: none;
  position: relative;
}
* body main #financing > div ul li p {
  display: inline-block;
  margin-top: 0px;
  font-size: 18px;
  line-height: 21.6px;
  padding-left: 50px;
  width: 420px;
}
* body main #financing > div ul li p:before {
  content: url('../assets/images/Checkmark Icon.png');
  position: absolute;
  left: 0px;
}
* body main #enrollment {
  background: url("../assets/images/Woman Holding Papers.svg") no-repeat 716px 107px;
  height: 429px;
  margin: 0 auto;
  position: relative;
}
* body main #enrollment > div {
  position: absolute;
  left: 131px;
  top: 99px;
}
* body main #enrollment > div h2 {
  font-size: 40px;
  height: 86px;
  line-height: 46px;
  margin-bottom: 23px;
  width: 363px;
}
* body main #enrollment > div ul {
  padding-left: 0px;
}
* body main #enrollment > div ul li {
  line-height: 28.8px;
  list-style-type: none;
  position: relative;
}
* body main #enrollment > div ul li p {
  display: inline-block;
  margin-top: 0px;
  font-size: 18px;
  line-height: 21.6px;
  padding-left: 50px;
  width: 350px;
}
* body main #enrollment > div ul li p:before {
  content: url('../assets/images/Checkmark Icon.png');
  position: absolute;
  left: 0px;
}
* body main #enrollment > div ul li span {
  display: flex;
  font-size: 12px;
  font-weight: normal;
  line-height: 14.4px;
  margin-top: 0px;
  width: 350px;
}
* body main #start {
  background: url("../assets/images/Start Your Learning Journey.svg") no-repeat 242px 0px;
  height: 265px;
  margin: 0 auto;
  position: relative;
}
* body main #start > div {
  position: absolute;
  left: 465px;
  top: 33px;
}
* body main #start > div h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 31px;
  width: 325px;
}
* body main #start > div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  width: 500px;
}
* body main #second_plant {
  padding-left: 1042px;
  position: absolute;
  top: 1931px;
}
@media only screen and (max-width: 1450px) {
  * {
    margin: 0px;
  }
  * body {
    background-color: #05A9E1;
    font-family: 'Proxima Nova';
    letter-spacing: 0.6px;
    margin: 0 auto;
    width: 834px;
  }
  * body main {
    color: white;
    letter-spacing: 0.6px;
  }
  * body main #admission {
    position: relative;
  }
  * body main #admission > div {
    background: url("../assets/images/Frame.svg") no-repeat 604px 234px, url("../assets/images/Word Bubble.png") no-repeat 48px 48px;
    height: 503px;
    margin: 0px;
  }
  * body main #admission > div h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 47px;
    margin-left: 186px;
    padding-top: 164px;
    width: 400px;
  }
  * body main #admission > div p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 186px;
    margin-top: 15px;
    width: 431px;
  }
  * body main #admission > div button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 2px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
    margin-left: 186px;
    margin-top: 21px;
    max-width: 200px;
  }
  * body main #timeline #timeline {
    display: none;
  }
  * body main #research {
    background: url("../assets/images/Meeting.svg") no-repeat 66px 0px;
    background-size: 327px 229px;
    height: 313px;
    margin: 0 auto;
    position: relative;
  }
  * body main #research > div {
    position: absolute;
    left: 428px;
    top: 57px;
  }
  * body main #research > div h2 {
    font-size: 32px;
    font-weight: 700;
    height: 55px;
    line-height: 46px;
    margin-bottom: 13px;
    width: 458px;
  }
  * body main #research > div ul {
    padding-left: 0px;
  }
  * body main #research > div ul li {
    line-height: 28.8px;
    list-style-type: none;
    position: relative;
  }
  * body main #research > div ul li p {
    display: inline-block;
    margin-top: 0px;
    font-size: 16px;
    line-height: 19.2px;
    padding-left: 50px;
    width: 289px;
  }
  * body main #research > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    left: 0px;
    position: absolute;
    width: 27px;
  }
  * body main #application {
    background: url("../assets/images/Desk Ilustration.svg") no-repeat 405px 61px;
    background-size: 381px 148px;
    height: 318px;
    margin: 0 auto;
    position: relative;
  }
  * body main #application > div {
    left: 66px;
    position: absolute;
    top: 0px;
  }
  * body main #application > div h2 {
    font-size: 32px;
    font-weight: 700;
    height: 63px;
    line-height: 46px;
    margin-bottom: 7px;
    width: 370px;
  }
  * body main #application > div ul {
    padding-left: 0px;
  }
  * body main #application > div ul li {
    line-height: 32px;
    list-style-type: none;
    position: relative;
  }
  * body main #application > div ul li p {
    display: inline-block;
    font-weight: 400;
    margin-top: 0px;
    font-size: 16px;
    line-height: 19.2px;
    padding-left: 50px;
    width: 288px;
  }
  * body main #application > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    position: absolute;
    left: 0px;
  }
  * body main #financing {
    background: url("../assets/images/Financing.svg") no-repeat 46px 46px;
    background-size: 436px 198px;
    height: 318px;
    margin: 0 auto;
    position: relative;
  }
  * body main #financing > div {
    position: absolute;
    left: 431px;
    top: 0px;
  }
  * body main #financing > div h2 {
    font-size: 32px;
    height: 82px;
    line-height: 40px;
    margin-bottom: 27px;
    width: 458px;
  }
  * body main #financing > div ul {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  * body main #financing > div ul li {
    line-height: 36px;
    list-style-type: none;
    position: relative;
  }
  * body main #financing > div ul li p {
    display: inline-block;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding-left: 50px;
    width: 289px;
  }
  * body main #financing > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    position: absolute;
    left: 0px;
  }
  * body main #enrollment {
    background: url("../assets/images/Woman Holding Papers.svg") no-repeat 400px 58px;
    background-size: 397px 204px;
    height: 365px;
    margin: 0 auto;
    position: relative;
  }
  * body main #enrollment > div {
    position: absolute;
    left: 62px;
    top: 22px;
  }
  * body main #enrollment > div h2 {
    font-size: 32px;
    font-weight: 700;
    height: 86px;
    line-height: 40px;
    margin-bottom: 15px;
    width: 300px;
  }
  * body main #enrollment > div ul {
    padding-left: 0px;
  }
  * body main #enrollment > div ul li {
    line-height: 28.8px;
    list-style-type: none;
    position: relative;
  }
  * body main #enrollment > div ul li p {
    display: inline-block;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding-left: 50px;
    width: 287px;
  }
  * body main #enrollment > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    position: absolute;
    left: 0px;
  }
  * body main #enrollment > div ul li span {
    display: flex;
    font-size: 12px;
    font-weight: normal;
    line-height: 10.8px;
    margin-top: 0px;
    width: 287px;
  }
  * body main #start {
    background: url("../assets/images/Start Your Learning Journey.svg") no-repeat 144px 14px;
    background-size: 171px 158px;
    height: 264px;
    margin: 0 auto;
    position: relative;
  }
  * body main #start > div {
    position: absolute;
    left: 429px;
    top: 8px;
  }
  * body main #start > div h2 {
    font-size: 32px;
    font-weight: 700;
    height: 84px;
    line-height: 40px;
    margin-bottom: 31px;
    width: 325px;
  }
  * body main #start > div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    width: 335px;
  }
  * body main #second_plant {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  * {
    margin: 0px;
  }
  * body {
    background-color: #05A9E1;
    font-family: 'Proxima Nova';
    letter-spacing: 0.6px;
    margin: 0 auto;
    width: 375px;
  }
  * body main {
    color: white;
    letter-spacing: 0.6px;
  }
  * body main #admission {
    position: relative;
    width: 536px;
  }
  * body main #admission > div {
    background: url("../assets/images/Word Bubble.png") no-repeat -12px 7px;
    background-size: 536px 318px;
    height: 350px;
    margin: 0px;
  }
  * body main #admission > div h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 67px;
    padding-top: 86px;
    width: 256px;
  }
  * body main #admission > div p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    margin-left: 67px;
    margin-top: 13px;
    width: 236px;
  }
  * body main #admission > div button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 2px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 65px;
    margin-left: 67px;
    margin-top: 9px;
    width: 235px;
  }
  * body main #timeline #timeline {
    display: none;
  }
  * body main #research {
    background: url("../assets/images/Meeting.svg") no-repeat 83px 245px;
    background-size: 229px 160px;
    height: 432px;
    margin: 0 auto;
    position: relative;
  }
  * body main #research > div {
    position: absolute;
    left: 33px;
    top: 9px;
  }
  * body main #research > div h2 {
    font-size: 32px;
    font-weight: 700;
    height: 41px;
    line-height: 46px;
    margin-bottom: 12px;
    width: 307px;
  }
  * body main #research > div ul {
    padding-left: 0px;
  }
  * body main #research > div ul li {
    line-height: 28.8px;
    list-style-type: none;
    position: relative;
  }
  * body main #research > div ul li p {
    display: inline-block;
    margin-top: 0px;
    font-size: 14px;
    line-height: 16.8px;
    padding-left: 50px;
    width: 265px;
  }
  * body main #research > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    left: 0px;
    position: absolute;
    width: 18px;
  }
  * body main #application {
    background: url("../assets/images/Desk Ilustration.svg") no-repeat 33px 252px;
    background-size: 309px 137px;
    height: 411px;
    margin: 0 auto;
    position: relative;
  }
  * body main #application > div {
    left: 34px;
    position: absolute;
    top: 0px;
  }
  * body main #application > div h2 {
    font-size: 26px;
    font-weight: 700;
    height: 36px;
    line-height: 46px;
    margin-bottom: 17px;
    width: 306px;
  }
  * body main #application > div ul {
    padding-left: 0px;
  }
  * body main #application > div ul li {
    list-style-type: none;
    position: relative;
  }
  * body main #application > div ul li p {
    display: inline-block;
    margin-top: 0px;
    font-size: 14px;
    line-height: 16.8px;
    padding-left: 50px;
    width: 271px;
  }
  * body main #application > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    left: 0px;
    position: absolute;
    width: 18px;
  }
  * body main #financing {
    background: url("../assets/images/Financing.svg") no-repeat 36px 236px;
    background-size: 374px 170px;
    height: 418px;
    margin: 0 auto;
    position: relative;
  }
  * body main #financing > div {
    position: absolute;
    left: 34px;
    top: 0px;
  }
  * body main #financing > div h2 {
    font-size: 26px;
    height: 54px;
    line-height: 30px;
    margin-bottom: 17px;
    text-align: center;
    width: 271px;
  }
  * body main #financing > div ul {
    padding-left: 0px;
    height: 183px;
    margin-bottom: 0px;
  }
  * body main #financing > div ul li {
    list-style-type: none;
    position: relative;
  }
  * body main #financing > div ul li p {
    display: inline-block;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    padding-left: 50px;
    width: 271px;
  }
  * body main #financing > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    position: absolute;
    left: 0px;
  }
  * body main #enrollment {
    background: url("../assets/images/Woman Holding Papers.svg") no-repeat 24px 221px;
    background-size: 329px 169px;
    height: 410px;
    margin: 0 auto;
    position: relative;
  }
  * body main #enrollment > div {
    position: absolute;
    left: 34px;
    top: 0px;
  }
  * body main #enrollment > div h2 {
    font-size: 26px;
    font-weight: 700;
    height: 49px;
    line-height: 46px;
    margin-bottom: 6px;
    text-align: center;
    width: 306px;
  }
  * body main #enrollment > div ul {
    padding-left: 0px;
  }
  * body main #enrollment > div ul li {
    line-height: 28.8px;
    list-style-type: none;
    position: relative;
  }
  * body main #enrollment > div ul li p {
    display: inline-block;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    padding-left: 50px;
    width: 271px;
  }
  * body main #enrollment > div ul li p:before {
    content: url('../assets/images/Checkmark Icon.png');
    position: absolute;
    left: 0px;
  }
  * body main #enrollment > div ul li span {
    display: flex;
    font-size: 10px;
    font-weight: normal;
    margin-top: 0px;
    width: 287px;
  }
  * body main #start {
    background: url("../assets/images/Start Your Learning Journey.svg") no-repeat 149px 164px;
    background-size: 84px 78px;
    height: 299px;
    margin: 0 auto;
    position: relative;
  }
  * body main #start > div {
    position: absolute;
    left: 34px;
    top: 0px;
  }
  * body main #start > div h2 {
    font-size: 26px;
    font-weight: 700;
    height: 48px;
    line-height: 28px;
    margin-bottom: 22px;
    text-align: center;
    width: 306px;
  }
  * body main #start > div p {
    font-size: 14px;
    font-weight: 400;
    height: 80px;
    line-height: 16.8px;
    width: 304px;
  }
  * body main #second_plant {
    display: none;
  }
}
