<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoshi</title>
    <link rel="stylesheet" href="../assets/hoshi.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <script src="..\assets\hoshi.js"></script> 
</head>
<body>
    <h2>Hoshi</h2>
    <form>
        <div class="input_container">
            <input type="text" id="user_name" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <label class="input_label user_name_color" for="user_name">
                <span>Name</span>
            </label>
            <!-- <span class="input_line color1"></span> -->
        </div>
        <div class="input_container">
            <input type="text" id="user_street" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <label class="input_label user_street_color" for="user_street">
                <span>Street</span>
            </label>
            <!-- <span class="input_line color2"></span> -->
        </div>
        <div class="input_container">
            <input type="text" id="user_town" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <label class="input_label user_town_color" for="user_town">
                <span>Town</span>
            </label>
            <!-- <span class="input_line color3"></span> -->
        </div>
        <!-- <div class="input_container">
            <input type="text" id="user_street" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <label class="input_label" for="user_street">Street</label>
            <span class="input_line color2"></span>
        </div>
        <div class="input_container">
            <input type="text" id="user_town" onfocus="focusInput(this)" onblur="blurInput(this)"></input>
            <label class="input_label" for="user_town">Town</label>
            <span class="input_line color3"></span>
        </div> -->
    </form>
</body>
</html>