<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Trainee Next Task</title>
    <link rel="stylesheet" href="../assets/trainee_next_task.css">
</head>
<body>
    <main>
        <section id="admission">
            <div>
                <h1>Your Future Starts with Admissions</h1>
                <p>To get started, let's take a quick look at the admissions process for a Coding Dojo bootcamp.</p>
                <button>Schedule a call</button>
            </div>
        </section>
        <div id="timeline">
            <img src="../assets/images/Middle Timeline.png" alt="timeline" id="timeline">
        </div>
        <section id="research">
            <div>
                <h2>Do Your Research!</h2>
                <ul>
                    <li>
                        <p>Check our our programs here on our website and download a sylabus to view the curriculum.</p>
                    </li>
                    <li>
                        <p>Schedule a call with one of our admissions advisors to compare courses or discuss financing.</p>
                    </li>
                    <li>
                        <p>Attend an open house to hear directly from instructors and career services advisors.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section id="application">
            <div>
                <h2>Submit Application</h2>
                <ul>
                    <li>
                        <p>Next, submit your application! The application process takes no more than 5 minutes. </p>
                    </li>
                    <li>
                        <p>If applying for a full-time program, schedule your interview to complete your application.</p>
                    </li>
                    <li>
                        <p>Receive your decision immediately for part-time programs or within 2-3 business days for full-time programs.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section id="financing">
            <div>
                <h2>Get Financing For Your Program</h2>
                <ul>
                    <li>
                        <p>Our admissions advisors can help you decide what is best for you based on your financial situation and your goals.</p>
                    </li>
                    <li>
                        <p>We offer a variety of payment options, including partial scholarships, installment plans, and third party lenders including Ascent and Climb Credit.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section id="enrollment">
            <div>
                <h2>Finalize Your Enrollment</h2>
                <ul>
                    <li>
                        <p>Once you have confirmed your financing, submit your deposit* to reserve your seat in class. <span>*Deposit may be waived for certain financing options</span></p>
                    </li>
                    <li>
                        <p>Connect with your Onboarding Manager! Your manager will help you gather all your needed information and get you set up in the learn platform.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section id="start">
            <div>
                <h2>Start Your Learning Journey</h2>
                <p>Get signed into your tools, complete your pre-course work, meet your classmates, and get excited for the first day of class. You’re on your way to a brand new career in tech!</p>
            </div>
        </section>
        <img src="../assets/images/Second Plant.svg" alt="plant" id="second_plant">
    </main>
</body>
</html>